

/* cartA.css */

.rounded-image {
   
    overflow: hidden;
}






.checkout{
	
	width: 200px; 
 
    align-items: center; 
}





.center-section {
    background-color:#FAF8F8 ; 
    padding: 20px; 
}




.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.product-image {
    flex: 0 0 100px; /* Maintain image width */
    margin-right: 20px;
}

.product-image img {
    width: 100px; /* Set image width */
    height: 100px; /* Set image height */
    object-fit: cover; /* Maintain aspect ratio */
}

.product-details {
    flex-grow: 1; 
    
}
.product-details h4{
   padding:5px;
   color:salmon;
    
}
.product-details p{
   padding:5px;
    
}
.product-details h5{
   padding:5px;
    
}

.product-actions {
    flex: 0 0 150px; 
    display: flex;
    align-items: center;
}



.btn {
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 3px;
    
}
.btnn {
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 3px;
    width:120px;
}

.btn-salmon {
    background-color: #56A1F5;
}

.btn-danger {
    background-color: red;
}

.btn-gray {
    background-color: #D3C8CA ;
}

.btn-gray:hover {
    background-color:#B0A9AA;
}

.btn-danger:hover {
    background-color: #F75371;
}

.btn-salmon:hover {
    background-color: #0776F3;
}

/* Additional CSS for quantity increment and decrement buttons */
.product-actions a.btn {
    margin: 0;
    padding: 0.5rem;
    border-radius: 0;
}

.product-actions input[type="text"] {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 10px; /* Add margin to create distance between input and buttons */
}

.product-actions .btn-group {
    display: flex;
    align-items: center;
}

.product-actions .btn-group a.btn {
    flex: 0 0 auto;
}

.product-actions .btn-group input[type="text"] {
    flex: 0 0 auto;
}

.product-actions .btn-group .btn {
    margin-right: 10px; /* Adjust margin between buttons */
}

.product-actions .btn-group .btn:last-child {
    margin-right: 0; /* Remove margin from last button */
}


